<div class="container">
  <h1> Create Your Team </h1>
  <%= render 'shared/circle_container' %>

  <!-- <button class="button1"> Complete the team</button> -->
  <%= link_to "Complete the team", @teams_path, class: "button1" %>

  <ul id="friends" class="friend-list">
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
    <li><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />Username</li>
  </ul>

</div>

<script>

</script>

