<div class="banner-review">
  <div class="title-review">
    <h1>THE GAME IS <strong><span class="pink-text">NOT OVER</span></strong></h1>
    <p>Build a respectful community by reviewing your teammates</p>
  </div>
</div>


