// Import Google fonts
@import url("https://use.typekit.net/mua8uty.css");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700|Raleway:300,400,700&display=swap');
// Define fonts for body and headers
$headers-font: 'Hind', "sans-serif";
$body-font: "Raleway", "Helvetica", "sans-serif";
$fancy-font: agency-fb, sans-serif;
