#feature-cards {
  background: $dark-blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px;
}

#features {
  height: 30vh;
  width: 100%;
  padding: 40px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('lol-jinx.jpg');
  opacity: 0.2px;
}
