.container-loading {
  z-index: 1;
}

.toggle-content {


  img {
    width: 0px;
    height: 0px;
    border-color: transparent;
    transition: all 1s cubic-bezier(.82,.14,.49,2.04);
  }

}

.load-text {
  color: $dark-pink;
  font-family: $fancy-font;
  height: 100px;
  font-size: 48px;
}

.typed-cursor {
  opacity: 0 !important;
}

.toggle-content.is-grow {
  img {
    height: 64px;
    width: 64px;
    border-color: green;
  }
  opacity: 100;
}



