.container-mates{
  display: grid;
  min-height: calc(100vh - 66px);
  margin-top: 66px;
  grid-template-columns: 1fr 2fr 300px;
  /* margin: 60px auto; */
  /* width: 100%; */
  /* flex-grow: 1; */
  /* position: absolute; */
}

// TEAM CIRCLE

.team-circle {
  text-align: center;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1 {
    font-family: $fancy-font;
    text-align: center;
    font-size: 54px;
    color: $dark-pink;
  }
}

.lobby-name h1 {
  font-family: $fancy-font;
  color: $light-green;
}

.button1 {
  display: initial;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: unset;
}

// FRIEND BAR

.friend-bar {
  width: 300px;
  background-color: rgba(250, 249, 249, 0.5);
  /* margin-top: 22px; */
}

.friend-list {
  padding: 16px;

  h2 {
    font-family: $fancy-font;
    text-align: center;
  }
}

ul.friend-list {
  margin-top: 0;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  .friend-ingame {
    border: 1.5px solid $orange;
  }
  .friend-online {
    border: 1.5px solid #52B581;
  }
  .friend-away {
   border: 1.5px solid $red;
  }
  .fa-circle {
    font-size: 12px;
    position: relative;
    top: 21px;
    left: -18px;
  }
}

.friend-info {
  font-color: $black;
  font-family: $fancy-font;
  width: 140px;

  #friend-username {
    font-size: x-large;
    font-family: $fancy-font;
    font-weight: bold;
    margin: 0;
  }
}

.friend-image-sm {
  height:64px;
  width: 64px;
  border-radius: 50%;
  border: 1.5px solid #52B581;
}

// JAVASCRIPT

.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tool .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tool:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

 // background
.hero-detail-background.is-active, .hero-detail-overview.is-active, .hero-detail-video.is-active {
  display: block;
  opacity: 0.8;
}

.hero-detail-background, .hero-detail-overview, .hero-detail-video {
  display: none;
}
.video-background-wrapper {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
*, :after, :before {
  box-sizing: inherit;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  vertical-align: inherit;
  white-space: inherit;
  text-overflow: inherit;
  text-shadow: inherit;
}
