.container-mates{
  display: flex;
  margin: 60px auto;
  width: 100%;
  flex-grow: 1;
}

// TEAM CIRCLE

.team-circle {
  width: 80%;
  text-align: center;
  padding: 16px;
}

.team-circle2 {
  width: 100%;
  text-align: center;
  padding: 16px;
}

// FRIEND BAR

.friend-bar {
  margin-top: 0;
  width: 20%;
}
.friend-list {
  padding: 16px;
}

ul.friend-list {
  margin-top: 0;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  .friend-ingame {
    border: 1.5px solid $orange;
  }
  .friend-online {
    border: 1.5px solid #52B581;
  }
  .friend-away {
   border: 1.5px solid $red;
  }
  .fa-circle {
    font-size: 12px;
    position: relative;
    top: 21px;
    left: -18px;
  }
}

.friend-info {
  width: 140px;
  p {
    margin: 0;
  }
}

.friend-image-sm {
  height:64px;
  width: 64px;
  border-radius: 50%;
  border: 1.5px solid #52B581;
}

// JAVASCRIPT

.tool .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tool .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tool:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
