.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.team-preview {
  background-color: #041E2F;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
}

.circle-container {
      display: flex;
      width: 24em;
      height: 24em;
      padding: 2.8em;
      border: none;
      border-radius: 50%;
      margin: 1.75em auto 0;
    }
    .circle-container li {
      display: block;
      position: relative;
      top: 50%; left: 50%;
      width: 4em; height: 4em;
      margin: -2em;
    }
    .circle-container img { display: block; width: 100%; }
    .deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
    .deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
    .deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
    .deg180 { transform: translate(-12em); }
    .deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
    .deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

.button {
  border-radius: 5px;
  border: solid;
  border-color: red;
  margin-top: 16px;
}

.friend-list {
  position: absolute;
  align-self: flex-end;
  margin-top: 16px;
}

.friend-list li {
  margin-bottom: 16px;
  margin-right: 16px;
  list-style:none;
}
