

// TEAM INGAME

.tenor-gif-embed {
  position: absolute;
  top: 0;
  left: -10px;
  width: 101%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.team-show-ready {
  .tenor-gif-embed {
    background-image: url('//s3.eu-west-3.amazonaws.com/batch196/dva_dancing.gif?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luEKT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMyKAAgoFrQPMfNXSWR6Rb5lE%2Bv5DC6jhhJKaMbenvacexHZXtsva5T015FdcHh9EPTsOPD4OFr%2FZUeiFWyTR88iCpndsSY79WtfbElscEyGCUvvfYCe9cgYyu9KLZA2SinEMrBbweCAvh%2FRp%2B9aN3Bz%2FR3onc8UF1rGtzFAEX48M8irz0mBex6zIWA%2BvWcsvovE3fFHyBf7akfh2dCP8LJFrBPtIKBleSXfPTdOX1FeUvW8ZErYmY3yqkDtb%2F6O6nVN3Swck0GEhIZ1oum8KxTfaNNVSTDuCY%2BwHZAa5cRB26p8e5rW2S21HbQtbdccwQ%2Bfx9cN9REHo4YCgONFIuNrBDe0qnQIIMhABGgwyNjM5MTAxODczNjQiDFo3oQWxzzfKjgE2Qyr6AbOvfRn0Q%2Fs6k1Jaut%2BVXjAdMOAMdMZWYAE2TJjAexxN3GnmTaIF16cqvLdxgIMDvNpt2URCHgS8XJ8DAjeUvLBNn1Q%2Bo4fkowlcq6EJ2V53x48tnls3eSFayvxJ3YdOiOdZqkpQZa9Gnhln7PRQ6jdJ7J5LLg3n0h9WHodfP7UJ%2FNoc9ublUIBnTfoou5ZbXEOogBalxGps2vlrSZN7f8o%2FPO8vMRX2eAZsNWS40kZkj3ztFQgn0xEbx0jFAH4gcFy1klLEoyu%2B4tHAlUkZ6XIS8p%2FLt2S1umHx5totHXz%2BRasoXKFzCPdNUDfGbHrYeuX20DyArw6kYpEwpYfl5wU%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190606T165312Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAT24SF4FSHYAWQD5P%2F20190606%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Signature=e57fa22a44ef56c9f9b6f7fbac547cd8867033bb07a9084157fae2392587b712');
  }
  .title {
    transform: translateY(100%);
  }
}

.team-show-ingame {
  .tenor-gif-embed {
    background-image: image-url('dva_ingame.gif');
  }
  .title {
    transform: translateY(-150%);
  }
}


.message {
  text-align: center;
  color: $light-green;
  font-family: $fancy-font;
  z-index: 1;
  font-size: 54px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 5px #777777;
  transform: translateY(-200%);
}

.title {
  display: inline-block;
  width: 200px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  background: rgba(85, 205, 201, 0.8);
  padding: 15px 20px;
  transition: all .5s ease;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1;
}

a {
    text-decoration: none;
    color: #FFF;
}

.is-active {
  box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.6);
  transform: translateY(10px);
}
