.banner-profil {
  background-position: center 0px;
  width: 100%;
  height: 400px;
  background: url('dva-banner.jpg')
  center center no-repeat;
  background-size: cover;
  }

.user_image {
  display: flex;
  justify-content: center;
  z-index: 3;
  position: absolute;
  top: -75px;
  transform: translateX (-50%);
  left: 125px;
  img {
    border: 1px solid $light-green;
  }
}

.stats {
  background-color: #292845;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  color: white;
  margin: 0 auto;
  position: relative;
  border: $light-green;
}

.profile-box {
  background-color: #292845;
  width: 400px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  color: white;
  margin-top: -184px;
  margin-left: 180px;
  position: relative;
  padding-top: 160px;
  padding-bottom: 5
  px;
  text-align: center;
  border-radius: 0% 0% 10% 10%;
  border-top: $light-green;
  -webkit-box-shadow : 0px 0px 34px 2px rgba(85,205,201,0.62);
  -moz-box-shadow: 0px 0px 34px 2px rgba(85,205,201,0.62);
  box-shadow: 0px 0px 34px 2px rgba(85,205,201,0.62);

  h2 {
    color: $light-green;
  }

  p {
    font-size: 12px;
    color: white;
    width: 100px;
    .fas {
    font-size: 24px;
    color: $light-green;
    padding-bottom: 12px;
    }
  }
}


.user-tagname {
  display: inline-block;
  position: relative;
  top: -60px;
}

.user-mercy-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.discord-id {
  text-align: center;
  text-decoration: none;
}

#discord-logo {
  width: 10px;
  color: $pink;
}

.user-age {
  font-size: 12px;
  color: $light-green;
}

.more-info {
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.glide__arrow.box {
  display: flex;
  fex-direction: column;
  justify-content: space-between;
}

.glide__arrow {
  height: 24px;
  width: 32px;
  border-radius: 50%;
  font-size: 24px;
  color: white;
  background-color: $orange;
  padding: 0;
  text-align: center;
  border: none;
}

.button-friend {
  background-color: $light-green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px 700px;
  cursor: pointer;
}

.button-message {
  background-color: $light-green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  font-size: 16px;
  margin: 4px 700px;
  cursor: pointer;
}


