
 <ul id="team" class='circle-container'>

    <li class="deg0 tool"><img class="avatar-large" alt="avatar-large" src="<%= user.image %>" />
      <span class="tooltiptext"><%= @user.username %></span></li>

    <li class="deg45 empty"><img class="avatar-large" alt="avatar-large" src="https://via.placeholder.com/65" /></li>
    <li class="deg135 empty"><img class="avatar-large" alt="avatar-large" src="https://via.placeholder.com/64" /></li>
    <li class="deg180 empty"><img class="avatar-large" alt="avatar-large" src="https://via.placeholder.com/64" /></li>
    <li class="deg225 empty"><img class="avatar-large" alt="avatar-large" src="https://via.placeholder.com/64" /></li>
    <li class="deg315 empty"><img class="avatar-large" alt="avatar-large" src="https://via.placeholder.com/64" /></li>
  </ul>
