
 <ul id="team" class='circle-container'>


    <li class="deg0"><img class="avatar-large" alt="avatar-large" src="<%= user.image %>" /></li>

    <li class="deg45"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
    <li class="deg135"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
    <li class="deg180"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
    <li class="deg225"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
    <li class="deg315"><img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /></li>
  </ul>
