<div class="flipcard flipcard-team">
  <div class="flipcard-banner"></div>

  <div class="flipcard-inner">
    <div class="front">
      <h2>Now, rate your game</h2>
      <div id="rater"></div>
      <button class="button1">Leave a comment</button>
    </div>
  </div>

  <div class="back">
    <h2>It worths a few words</h2>
    <div class="comment-box">
      <%= simple_form_for [@team, @team_review] do |f| %>
        <%= f.hidden_field :rating, :value => 5 %>
        <%= f.input :comment, label: false, placeholder: "It worth a word", as: :text %>
        <%= f.button :submit, "Submit", class: "my-button btn-user-rating" %>
      <% end %>
    </div>
  </div>
</div>
