<div class="flip-card-user-review">
  <h3>toto</h3>
  <div class="faces">
    <div class="front">
      FRONT
      <button class="fire">fire</button>
    </div>
    <div class="back">
      BACK
      <button class="close">X</button>
    </div>
  </div>
  <button class="review-submit">Submit</button>
</div>

<br>
<br>
<br>

<div class="flip-card-user-review">
  <h3>toto</h3>
  <div class="faces flipped">
    <div class="front">
      FRONT
      <button class="fire">fire</button>
    </div>
    <div class="back">
      BACK
      <button class="close">X</button>
    </div>
  </div>
  <button class="review-submit">Submit</button>
</div>



<!-- <button onclick="">flip the cardddd</button>
<section class="concon">
  <div class="cardddd" onclick="">
    <div class="front">1</div>
    <div class="back">2</div>
  </div>
</section>
 -->
