<div class="card-category">
  <img class="avatar-cards" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"/>
   <div class="ok-comments">
     <h4>Really enjoyed playing together?</h4>
     <ul>
       <li>Endorse <div class="plus-buttons"><i class="fas fa-plus"></i></div></li>
       <li>Add Friend <div class="plus-buttons"><i class="fas fa-plus"></i>
       </div></li>
     </ul>
   </div>
   <div class="not-really">
     <h4>Not really? </h4>
     <p>Explain us why and help this player to improve </p>
     <div class="ok-buttons"> OK </div>
   </div>
</div>
