<body>

  <div class="homepage-banner">
    <div class="homepage-content">
      <div class="homepage-title">
        <h1>Play your favorite game with<br> <strong><span class="pink-text">non-toxic players</span></strong> now.</h1>
        <p>Join the community of Mercy and build a respectful place for gamers.</p>
      </div>
      <%= link_to "Join us", new_user_registration_path, class: "button-green-1" %>
    </div>
  </div>

  <section id="feature-cards">
    <% title1 = 'Use your mic again' %> <br>
    <% icon1 = 'fas fa-headset' %> <br>
    <% para1 = 'Social media support towards female gamers in order to defeat online harassment. Thus creating a amicable and positive online environment and experience for all.' %>
    <% title2 = 'Join the community' %>
    <% icon2 = 'fa fa-users' %>
    <% para2 = 'Social media support towards female gamers in order to defeat online harassment. Thus creating a amicable and positive online environment and experience for all.' %>
    <% title3 = 'Use your mic again' %>
    <% icon3 = 'fas fa-headset' %>
    <% para3 = 'Social media support towards female gamers in order to defeat online harassment. Thus creating a amicable and positive online environment and experience for all.' %>

    <%= render 'shared/feature_card', title: title1, icon: icon1, para: para1, color: 'orange'%>
    <%= render 'shared/feature_card', title: title2, icon: icon2, para: para2, color: 'light-green'%>
    <%= render 'shared/feature_card', title: title3, icon: icon3, para: para3, color: 'pink'%>
  </section>
</body>

<section id="features">
  <div class="container-fluid text-center">
    <div class="row gutters-y">
      <div class="col-md-6 col-lg-3 mb-6 mb-lg-0">
        <div class="display-4 mb-6 text-warning">
          <i class="fas fa-users"></i>
        </div>

        <div class="text-features">
          <div class="d-block counter-total lh-1 fw-600 mb-3">102K</div>
          <span class="lead-1 fw-600 text-uppercase">Total Players</span>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-6 mb-lg-0">
        <div class="display-4 mb-6 text-warning">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="text-features">
          <div class="d-block counter-total lh-1 fw-600 mb-3">30</div>
          <span class="lead-1 fw-600 text-uppercase">Positive review</span>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-6 mb-md-0">
        <div class="display-4 mb-6 text-warning">
          <i class="fas fa-heart"></i>
        </div>
        <div class="text-features">
          <div class="d-block counter-total lh-1 fw-600 mb-3">70k</div>
          <span class="lead-1 fw-600 text-uppercase">Happy Players</span>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="display-4 mb-6 text-warning">
          <i class="fas fa-globe-americas"></i>
        </div>
        <div class="text-features">
          <div class="d-block counter-total lh-1 fw-600 mb-3">54</div>
          <span class="lead-1 fw-600 text-uppercase">Countries</span>
        </div>
      </div>
    </div>
  </div>

</section>
