
<div class="container">
  <div class="main">
    <div class="logo">
      <h1>M</h1>
    </div>
    <form action="#">
      <input type="email" placeholder="email" autocomplete="off" required>  <i class="fa fa-user"></i>
      <input type="password" placeholder="password" autocomplete="off" required>  <i class="fa fa-lock"></i>
      <input type="submit" value="Log In">
      <h4>Not Registered?<a href="#"> Create an Account</a></h4>
    </form>
  </div>
</div>
