.feature-card {
  padding: 40px;
  width: 370px;
  transition: box-shadow .3s;
  text-align: center;
  background-color: $dark-blue;

  &:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &:hover p {
    color: white;
  }

  span {
    font-size: 2.6em;
    display: block;
    transition: color .3s;
    &:before, &:after {
      position: static;
    }
  }

  h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 100;
    transition: color .3s;
    padding: 10px;
    &:after {
      content: '';
      position: relative;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      display: block;
      width: 40px;
      height: 1px;
      background: darken($font-color, 20%);
      transition: width .3s;
    }
  }
  p {
    color: $font-color;
    text-align: center;
    text-indent: 1em;
    font-size: 16px;
    line-height: 26px;
    transition: color .3s;
    margin: 13px;
  }
}

.feature-card-orange {
  &:hover span {
    color: $orange;;
  }
  &:hover h3 {
    color: $orange;
  }
}

.feature-card-light-green {
  &:hover span {
    color: $light-green;
  }
  &:hover h3 {
    color: $light-green;
  }
}

.feature-card-pink {
  &:hover span {
    color: $pink;
  }
  &:hover h3 {
    color: $pink;
  }
}
