h3 {
  font-family: $body-font;
  justify-content: center;
}

.flipcard {
    margin: 16px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    flex-grow: 1;
    perspective: 800px;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    &.flipped {
      transform: rotateY( 180deg );
    }

    .friend-image {
      top: -50px;
    }

    .new_user_review {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  .flipcard .front {
    background: $dark-blue;
    margin-top: -50px;
    backface-visibility: hidden;
  }

  .flipcard .back {
    background: $dark-blue;
    transform: rotateY(180deg);
  }
}

.flip-card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  font-size: small;
  text-align: center;
  position: relative;
  top: -20px;
  backface-visibility: hidden;
  h2 {
    font-family: $fancy-font;
    color: $light-green;
    padding-bottom: 12px;
  }
}

.team-banner-review {
  width: 100%;
}

.team-avatar-review {
  height: 72px;
  text-align: center;
  position: relative;
  top: -28px;

  img {
    border-radius: 50%;
    border: 1.5px solid #52B581;
  }
}

.inline-button {


}

