// New_Team_Form //
.team-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.team-form .form-control {
  // width:100%;
  // padding:5px;
  box-sizing:border-box;
  box-shadow: 0 0 20px #fa3380;
  // border: solid 1px #fa3380;
  font-family:'Hind', "sans-serif";
}

#new_team {
  width: 240px;
}

// New_Review_Form

.team_review_comment {
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0 0 10px #fa3380;
  font-weight: bold;
  font-family:'Hind', "sans-serif";
    textarea {
      width: 500px;
      outline: none;
      resize: none;
      border: none;
    }
}

// Form Style User Review //

.form-check {
  input[type='checkbox'] + label {
    padding: 8px 16px;
    font-color: $white;
    // background-color: #141414;
    transition: box-shadow .3s;
    border-radius: 2px;
    border: 1px solid #55CDC9;
  }
  input[type='checkbox']:checked + label {
    padding: 8px 16px;
    background-color: $light-green;
    transition: box-shadow .3s;
    border-radius: 2px;
    border: 1px solid #55CDC9;
  }
  input[type='checkbox'] {
    display: none;
  }
}

// Form Style Team New //

  input[type='radio'] + label {
    padding: 8px 16px;
    background-color: #141414;
    transition: box-shadow .3s;
    border-radius: 2px;
    border: 1px solid #55CDC9;
    display: flex;
      }
  input[type='radio']:checked + label {
    padding: 8px 16px;
    background-color: $light-green;
    transition: box-shadow .3s;
    border-radius: 2px;
    border: 1px solid #55CDC9;
  }
  input[type='radio'] {
    display: none;
  }

.gender-container {
  grid-column: 2;
  grid-row: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-container .form-check {
  text-align: center;
  display: inline-block;
  padding: 0 10px;
}

.gender-container legend {
  text-align: center;
}

.games-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid $light-green;
}

.games-container .form-check {
  text-align: center;
  display: inline-block;
}

.games-container legend {
  text-align: center;
}


.button-team {
  grid-column: 3;
  grid-row: 1;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid $light-green;

  input[type='submit'] {
    margin-top: 0;
  }
}
