.game-card {
  height: 250px;
  width: 250px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.game-card > img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.game-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.game-card .game-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.inline-game-cards {
  display: flex;
  justify-content: space-around;
}

.hidden-rank {
  display: none;
}
