.login {
  background-color: #292845;
  color: #ff4949;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.logototo {
  height: 40px;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  transform: translateY(10%);
  h3 {
    font-family: $fancy-font;
    color: white;
    font-size: 32px;
    padding-left: 16px;
  }
}


.topnav {
  color: white;


}
.navbar {
  position: fixed;
  z-index: 10;
  width: 100vW;
  background: $dark-blue;
  box-shadow: 0px 1px 5px 1px  rgba(226, 30, 228, 1);
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  top: 0;
}

.navbar-text {
  display: flex;
  position: relative;
  right: 65px;
}

.nav-link {
  width: 200px;
  font-family: $headers-font;
  span {
    padding-right: 30px;
    background-position: translateX(-10px);
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $white;
  border-radius: 16px;
}

.nav-button {
  display: inline;
}

.nav-item {
  color: $white;
  width: 100px;
}

.nav-item a {
  color: white;
  padding: 8px 16px;
}

.dropdown-menu {
  background: white;
}

.dropdown-item a {
  color: #356ABD;
}

.dropdown-item:active {
    color: #eeeeee;
    text-decoration: none;
    background-color: #356ABD;
}

ul.navbar-nav.mr-auto p {
  position: relative;
  top: 4px;
  color: $light-green;
  margin: 0;
}

.burger-dropdown {
  background-color: white;
}

ul#user-op li {
  display: inline;
}

.navbar-nav {
  margin-bottom: 10px;
}

.jototo {
  display: flex;
  flex-direction: row;
}
