.login {
  background-color: #eeeeee;
  color: #ff4949;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.logo {
  height: 40px;
}

.navbar {
  position: fixed;
  width: 100vW;
  z-index: 10;
  background: $dark-blue;
  box-shadow: 0 0 0px 1px rgba(226, 30, 228, 1);
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  top: 0;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.nav-button {
  display: inline;
}

.nav-item {
  color: #FFCD00;
  width: 100px;
}

.nav-item a {
  color: white;
  padding: 8px 16px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.dropdown-menu {
  background: white;
}

.dropdown-item a {
  color: #356ABD;
}

.dropdown-item:active {
    color: #eeeeee;
    text-decoration: none;
    background-color: #356ABD;
}

ul.navbar-nav.mr-auto p {
  position: relative;
  top: 4px;
  color: $light-green;
  margin: 0;
}

.burger-dropdown {
  background-color: white;
}
