.separator {
  display: flex;
  align-items: center;
  width: 100%;

  .separator-content {
    margin: 0;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  }

  .separator-badge {
    background-color: $danger;
    margin-left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  hr {
    background: $danger;
  }
}
