.star-rating {
  background: image-url("emptystar.svg") !important;
  background-repeat: no-repeat;
}

.star-rating .star-value{
  background: image-url("fullstar.svg") !important;
  background-repeat: no-repeat;

}

.rating-box {
  background-color: rgba(0, 0, 0, 0.6);
}
