<div class="container-loading">
  <div class="rails-default-error-page">
    <div class="tenor-gif-embed lobby"></div>
  </div>
    <h1> LOOKING FOR YOUR TEAM MATES </h1>

  <div class="team-circle2">
  <%= render 'shared/circle_container', mems: @team.users %>
  </div>

</div>



<!-- <script>

  function redirect(){
    window.location.href = "/teams/<%= @team.id %>";
  }
  // setTimeout(redirect, 13000)


</script> -->
