<div class="container-team_show">
  <h1> Players are ingame </h1>
  <div class="team-circle2">
  <%= render 'shared/circle_container', mems: @team.users %>
  <h1 class="typed"></h1>
  </div>

</div>



<script>

  // function animate(){
    // let url = '<%= "/users/#{current_user.id}"  %>'
    // window.location.href = url;
  // }
  // setTimeout(animate, 6000);


</script>
